## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Resources/cityweather.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,0,Busselton,-33.6500,115.3333,54.09,72,1,17.81,clear sky
1,1,Agadez,19.7500,10.2500,91.72,8,63,4.74,broken clouds
2,2,Albany,42.6001,-73.9662,41.59,92,1,0.94,clear sky
3,3,Ushuaia,-54.8000,-68.3000,40.66,93,75,14.97,light intensity drizzle
4,4,Yellowknife,62.4560,-114.3525,29.41,95,90,8.05,light snow

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 95

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Agadez,19.7500,10.2500,91.72,8,63,4.74,broken clouds
8,8,Grand Gaube,-20.0064,57.6608,79.38,69,1,11.01,clear sky
10,10,Hambantota,6.1241,81.1185,79.48,81,100,15.68,light rain
13,13,Itarema,-2.9248,-39.9167,88.38,56,53,13.44,broken clouds
15,15,Itoman,26.1247,127.6694,77.02,65,75,8.05,broken clouds
...,...,...,...,...,...,...,...,...,...
669,669,Mulki,13.1000,74.8000,81.68,78,20,0.00,few clouds
672,672,Martapura,-3.4167,114.8500,77.09,100,75,2.30,broken clouds
673,673,Almeirim,-1.5233,-52.5817,89.17,56,100,3.83,overcast clouds
676,676,Santa Rosa,14.3122,121.1114,84.18,81,99,8.21,overcast clouds
679,679,Port-Gentil,-0.7193,8.7815,80.56,89,75,14.97,thunderstorm with light rain

In [5]:
# 4a. Determine if there are any empty rows.
city_data_df.isnull()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
675,False,False,False,False,False,False,False,False,False
676,False,False,False,False,False,False,False,False,False
677,False,False,False,False,False,False,False,False,False
678,False,False,False,False,False,False,False,False,False
679,False,False,False,False,False,False,False,False,False

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
city_data_df.isnull().sum()

City_ID        0
City           0
Lat            0
Lng            0
Max Temp       0
Humidity       0
Cloudiness     0
Wind Speed     0
Description    0
dtype: int64

In [7]:
my_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & (city_data_df["Max Temp"] >= min_temp)]
my_cities_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description
1,1,Agadez,19.7500,10.2500,91.72,8,63,4.74,broken clouds
8,8,Grand Gaube,-20.0064,57.6608,79.38,69,1,11.01,clear sky
10,10,Hambantota,6.1241,81.1185,79.48,81,100,15.68,light rain
13,13,Itarema,-2.9248,-39.9167,88.38,56,53,13.44,broken clouds
15,15,Itoman,26.1247,127.6694,77.02,65,75,8.05,broken clouds
...,...,...,...,...,...,...,...,...,...
669,669,Mulki,13.1000,74.8000,81.68,78,20,0.00,few clouds
672,672,Martapura,-3.4167,114.8500,77.09,100,75,2.30,broken clouds
673,673,Almeirim,-1.5233,-52.5817,89.17,56,100,3.83,overcast clouds
676,676,Santa Rosa,14.3122,121.1114,84.18,81,99,8.21,overcast clouds
679,679,Port-Gentil,-0.7193,8.7815,80.56,89,75,14.97,thunderstorm with light rain

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = my_cities_df[["City_ID", "City", "Lat", "Lng", "Max Temp", "Humidity", "Cloudiness", "Wind Speed", "Description"]].copy()
# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
1,1,Agadez,19.7500,10.2500,91.72,8,63,4.74,broken clouds,
8,8,Grand Gaube,-20.0064,57.6608,79.38,69,1,11.01,clear sky,
10,10,Hambantota,6.1241,81.1185,79.48,81,100,15.68,light rain,
13,13,Itarema,-2.9248,-39.9167,88.38,56,53,13.44,broken clouds,
15,15,Itoman,26.1247,127.6694,77.02,65,75,8.05,broken clouds,
25,25,Tukrah,32.5341,20.5791,77.27,42,70,6.55,broken clouds,
30,30,Kapaa,22.0752,-159.3190,75.52,81,20,12.66,light rain,
35,35,Aripuana,-9.1667,-60.6333,77.68,83,99,0.27,overcast clouds,
39,39,Gorontalo,0.5412,123.0595,77.09,95,25,2.93,scattered clouds,
44,44,Victoria,22.2855,114.1577,80.65,83,6,1.01,clear sky,

In [9]:
del hotel_df["City_ID"]

In [10]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
1,Agadez,19.7500,10.2500,91.72,8,63,4.74,broken clouds,
8,Grand Gaube,-20.0064,57.6608,79.38,69,1,11.01,clear sky,
10,Hambantota,6.1241,81.1185,79.48,81,100,15.68,light rain,
13,Itarema,-2.9248,-39.9167,88.38,56,53,13.44,broken clouds,
15,Itoman,26.1247,127.6694,77.02,65,75,8.05,broken clouds,
...,...,...,...,...,...,...,...,...,...
669,Mulki,13.1000,74.8000,81.68,78,20,0.00,few clouds,
672,Martapura,-3.4167,114.8500,77.09,100,75,2.30,broken clouds,
673,Almeirim,-1.5233,-52.5817,89.17,56,100,3.83,overcast clouds,
676,Santa Rosa,14.3122,121.1114,84.18,81,99,8.21,overcast clouds,
679,Port-Gentil,-0.7193,8.7815,80.56,89,75,14.97,thunderstorm with light rain,

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
   
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
   
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
1,Agadez,19.7500,10.2500,91.72,8,63,4.74,broken clouds,
8,Grand Gaube,-20.0064,57.6608,79.38,69,1,11.01,clear sky,Veranda Paul et Virginie Hotel & Spa
10,Hambantota,6.1241,81.1185,79.48,81,100,15.68,light rain,Bungalow 63
13,Itarema,-2.9248,-39.9167,88.38,56,53,13.44,broken clouds,"Sea Lounge! Bar, Club & Restaurant"
15,Itoman,26.1247,127.6694,77.02,65,75,8.05,broken clouds,Southern Beach Hotel & Resort Okinawa
...,...,...,...,...,...,...,...,...,...
669,Mulki,13.1000,74.8000,81.68,78,20,0.00,few clouds,Karnire Camping Ground
672,Martapura,-3.4167,114.8500,77.09,100,75,2.30,broken clouds,Montana Hotel Syariah
673,Almeirim,-1.5233,-52.5817,89.17,56,100,3.83,overcast clouds,Ricácio Hotel
676,Santa Rosa,14.3122,121.1114,84.18,81,99,8.21,overcast clouds,Erlyn’s Sta Rosa City Home
679,Port-Gentil,-0.7193,8.7815,80.56,89,75,14.97,thunderstorm with light rain,Fengshui Residence

In [13]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.isnull()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
1,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False
13,False,False,False,False,False,False,False,False,False
15,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
669,False,False,False,False,False,False,False,False,False
672,False,False,False,False,False,False,False,False,False
673,False,False,False,False,False,False,False,False,False
676,False,False,False,False,False,False,False,False,False
679,False,False,False,False,False,False,False,False,False

In [14]:
hotel_df.dropna(subset=["Hotel Name"])

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
1,Agadez,19.7500,10.2500,91.72,8,63,4.74,broken clouds,
8,Grand Gaube,-20.0064,57.6608,79.38,69,1,11.01,clear sky,Veranda Paul et Virginie Hotel & Spa
10,Hambantota,6.1241,81.1185,79.48,81,100,15.68,light rain,Bungalow 63
13,Itarema,-2.9248,-39.9167,88.38,56,53,13.44,broken clouds,"Sea Lounge! Bar, Club & Restaurant"
15,Itoman,26.1247,127.6694,77.02,65,75,8.05,broken clouds,Southern Beach Hotel & Resort Okinawa
...,...,...,...,...,...,...,...,...,...
669,Mulki,13.1000,74.8000,81.68,78,20,0.00,few clouds,Karnire Camping Ground
672,Martapura,-3.4167,114.8500,77.09,100,75,2.30,broken clouds,Montana Hotel Syariah
673,Almeirim,-1.5233,-52.5817,89.17,56,100,3.83,overcast clouds,Ricácio Hotel
676,Santa Rosa,14.3122,121.1114,84.18,81,99,8.21,overcast clouds,Erlyn’s Sta Rosa City Home
679,Port-Gentil,-0.7193,8.7815,80.56,89,75,14.97,thunderstorm with light rain,Fengshui Residence

In [15]:
hotel_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Description,Hotel Name
1,Agadez,19.7500,10.2500,91.72,8,63,4.74,broken clouds,
8,Grand Gaube,-20.0064,57.6608,79.38,69,1,11.01,clear sky,Veranda Paul et Virginie Hotel & Spa
10,Hambantota,6.1241,81.1185,79.48,81,100,15.68,light rain,Bungalow 63
13,Itarema,-2.9248,-39.9167,88.38,56,53,13.44,broken clouds,"Sea Lounge! Bar, Club & Restaurant"
15,Itoman,26.1247,127.6694,77.02,65,75,8.05,broken clouds,Southern Beach Hotel & Resort Okinawa
...,...,...,...,...,...,...,...,...,...
669,Mulki,13.1000,74.8000,81.68,78,20,0.00,few clouds,Karnire Camping Ground
672,Martapura,-3.4167,114.8500,77.09,100,75,2.30,broken clouds,Montana Hotel Syariah
673,Almeirim,-1.5233,-52.5817,89.17,56,100,3.83,overcast clouds,Ricácio Hotel
676,Santa Rosa,14.3122,121.1114,84.18,81,99,8.21,overcast clouds,Erlyn’s Sta Rosa City Home
679,Port-Gentil,-0.7193,8.7815,80.56,89,75,14.97,thunderstorm with light rain,Fengshui Residence

In [16]:
# 8# Create the output file (CSV).
output_data_file = "Resources/hotels.csv"

# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file)

In [17]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Description</dt><dd>{Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
#fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))